# dependencies & build output
node_modules/
dist/
dist-site/

# env & secrets
.env
*.local

# logs
*.log
npm-debug.log*

# ansible
ansible/inventory.ini
ansible/secrets.yml
*.retry

# editor / OS
.DS_Store
.idea/
.vscode/
